@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-shadow {
  filter: drop-shadow(0 4px 3px rgba(0, 0, 0, 0.5));
}

.pagination > span {
  border: 2px solid black;
  border-radius: 10px;
  padding: 6px 12px;
  margin: 0 5px;
  transition: all 0.2s ease-in-out;
}

.pagination > span:hover {
  transform: scale(1.25);
}
.pagination > span:active {
  /* transform: scale(1.2); */
  background-color: deepskyblue;
}
